name: CI

on:
  pull_request:
  push:
    branches: ["main"]

jobs:
  sanity:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Repo sanity
        run: |
          echo "CI is running perfectly"
          ls -la
